<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
            crossorigin="anonymous"></script>
    <title>Most Listened Artist of each Genre per Customer</title>
</head>
<body class="d-flex bg-light">
{% include 'sidebar.html' %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Most Listened Artist of each Genre per Customer</h1>

    <form method="GET" action="" class="row g-3 mb-4">
        <div class="col-md-4">
            <label for="customer_id" class="form-label">Select Customer:</label>
            <select name="customer_id" id="customer_id" class="form-select">
                <option value="">All Customers</option>
                {% for customer in customers %}
                    <option value="{{ customer.customer_id }}"
                            {% if request.GET.customer_id == customer.0|stringformat:'s' %}selected{% endif %}>
                        {{ customer.first_name }} {{ customer.last_name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Filter</button>
        </div>
    </form>
    {% if customer %}
        <div class="row display-5">
            <div class="col-3 bg-light-subtle m-1 pb-3 border border-secondary-subtle rounded-3">
                {{ customer }}
            </div>
        </div>
    {% endif %}

    <div class="list-group">
        <div class="row">
            <div class="col-4 font-weight-bold"><strong>Genre</strong></div>
            <div class="col-4 font-weight-bold"><strong>Artist</strong></div>
        </div>
        {% for row in data %}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-4 font-weight-bold">{{ row.genre }}</div>
                    <div class="col-4 font-weight-bold">{{ row.arist }}</div>
                </div>
            </a>
        {% empty %}
            <div class="alert alert-warning" role="alert">
                Select a customer.
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
